{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "flowtype-errors"
  ],
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": true,
    "mocha": true
  },
  "rules": {
    "semi": "off",
    "react/jsx-filename-extension": "off",
    "symbol-description": "off",
    "arrow-parens": "off",
    "flowtype/require-parameter-type": [
      "error",
      {
        "excludeArrowFunctions": true
      }
    ],
    "flowtype/require-return-type": [
      "error",
      "always",
      {
        "excludeArrowFunctions": true
      }
    ],
    "flowtype/type-id-match": [
      "error",
      "^([A-Z][a-z0-9]+)+Type$"
    ],
    "flowtype-errors/show-errors": "error"
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
